body, html, * {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;

  > h1 {
    text-align: center;
    margin: 0.2em;
  }
}

.assessment {
  text-align: center;
  margin: 0 auto;

  > .instructions {
    margin: 0.5em 0 1.5em 0;
  }
}

.assessment-body {
  margin: 0;
}

.a-button {
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 1.2em;
  outline: 0;
  overflow: hidden;
  padding: 0.5em 1.5em;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.a-button:active {
  border-bottom-color: #a2a6ac;
}

.a-button:active:hover {
  border-bottom-color: #a2a6ac;
}

.a-button:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.a-button:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}

.results {

  > .results-score {
    background-color: #009c2d;
    border-radius: 8px;
    padding: 1.3em;
    width: 300px;
    margin: 0 auto;

    h2 {
      font-size: 1.1em;
      color: #fff;
      margin: 0 0 0.2em 0;
      text-shadow: -0.5px 0.7px 2px rgba(0, 0, 0, 0.9);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
    }
    .score {
      font-size: 6em;
      font-weight: bold;
      color: #ccffcc;
      text-shadow: -0.5px 0.7px 2px rgba(0, 0, 0, 0.9);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      line-height: 1em;
    }
  }
}

.continue {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;

  > button {
    margin-right: 0.5em;
  }
}

@keyframes playletter {
  from {
    background-color: hsl(218, 93%, 55%);
  }
  to {
    background-color: #eee;
  }
}

.phrase {
  display: flex;
  align-items: center;
  justify-content: center;


  > .phrase-slot {
    font-size: 1.2em;
    font-weight: bold;
    display: inline;
    width: 2em;
    padding: .5em 0;
    background-color: #eee;
    margin: 2px;
    display: inline;
    text-align: center;
    border-radius: 4px;
    color: #999;

    &.phrase-slot-space {
      background-color: transparent;
      width: .7em;
    }
    &.phrase-slot-play {
      background-color: hsl(218, 84%, 75%);
      color: #fff;
      animation-name: playletter;
      animation-duration: 0.8s;
      animation-timing-function: ease-in-out;
    }
    &.phrase-slot-right {
      background-color: #090;
      color: #fff;
    }
    &.phrase-slot-wrong {
      background-color: #900;
      color: #fff;
    }
  }
}

.animate-flicker {
  animation: fadein 1s infinite;
}

@keyframes fadein {
  from { 
    opacity: 1;
    font-size: 2em;
  }
  to   { 
    opacity: 0;
    font-size: 15em;

  }
}

.countdown {
  > p {
    margin: 0;
  }
  > .count {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #090;
    text-align: center;
    margin-top: 2em;

    > span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      width: 100%;
    }

    &.count-red {
      color: #900;
    }
  }
}

.question {
  width: 400px;
  margin: 2em auto;

  &.question-play {
    background: #fee;
  }
  .question-answers {
    button {
      display: flex;
      flex-direction: column;
      padding: .5em 1em;
      font-size: 1.3em;
      margin: .5em auto;
      border-radius: 16px;
      border: 1px solid #bbb;
      text-align: center;
      align-content: center;
      align-items: center;
      width: 100%;

      &.question-right {
        background-color: #efe;
        border: 1px solid #090;
        color: #000;
      }
      &.question-wrong {
        background-color: #fee;
        border: 1px solid #900;
        // color: #fff;
      }
      &.question-half {
        background-color: #fffed9;
        border: 1px solid #ddd799;
      }
      &.question-ignore {
        background-color: #f9f9f9;
        color: #ddd;
        border: 1px solid #f9f9f9;
      }
    }
  }
}

.options-form {
  > form {
    max-width: 600px; 
    
    p {
      text-align: left;
    }

    .options-input {
      font-size: 1.1em;
      padding: .5em;
      margin: 4px 0 0;

      > label {
        display: block;
        float: left;
      }
      > input {
        display: block;
        width: 120px;
        margin-left: 150px;
        font-size: 1.1em;
      }
      .options-error {
        display: none;
      }
      &.options-errors {
        background-color: #fee;
        border: 1px solid #900;

        .option-error {
          display: block;
          font-size: .9em;
          font-weight: bold;
          color: #900;
        }
      }
    }
  }
}
