body, html, * {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;

  > h1 {
    text-align: center;
  }
}

.assessment {
  text-align: center;
  margin: 0 auto;
}

.assessment-body {
  margin: 0;
}

.a-button {
  margin-top: 1.5em;
  padding: 0.5em 1em;
  font-size: 1.1em;
}

.results {
  h2 {
    font-size: 1.3em;
  }
  .score {
    font-size: 3em;
    font-weight: bold;
    color: #090;
  }
}

.continue {
  display: flex;

  > button {
    margin-right: 1em;
  }
}

.phrase {
  display: flex;
  align-items: center;
  justify-content: center;


  > .phrase-slot {
    font-size: 1.2em;
    font-weight: bold;
    display: inline;
    width: 2.5em;
    padding: .5em 0;
    background-color: #ddd;
    margin: .2em;
    display: inline;
    text-align: center;
    border-radius: 4px;

    &.phrase-slot-space {
      background-color: transparent;
      width: .7em;
    }
    &.phrase-slot-play {
      background-color: hsl(218, 84%, 75%);
      color: #fff;
    }
    &.phrase-slot-right {
      background-color: #090;
      color: #fff;
    }
    &.phrase-slot-wrong {
      background-color: #900;
      color: #fff;
    }
  }
}

.animate-flicker {
  animation: fadein 1s infinite;
}

@keyframes fadein {
  from { 
    opacity: 1;
    font-size: 2em;
  }
  to   { 
    opacity: 0;
    font-size: 15em;

  }
}

.countdown {
  > p {
    margin: 0;
  }
  > .count {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #090;
    text-align: center;
    margin-top: 2em;

    > span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      width: 100%;
    }

    &.count-red {
      color: #900;
    }
  }
}

.question {
  width: 500px;
  margin: 2em auto;

  &.question-play {
    background: #fee;
  }
  .question-answers {
    button {
      display: block;
      padding: .5em 1em;
      font-size: 1.5em;
      width: 500px;
      margin: .5em 0;
      border-radius: 8px;
      border: 1px solid #bbb;
      letter-spacing: 0.1em;

      &.question-right {
        background-color: #efe;
        border: 1px solid #090;
        // color: #fff;
      }
      &.question-wrong {
        background-color: #fee;
        border: 1px solid #900;
        // color: #fff;
      }
      &.question-half {
        background-color: #fffed9;
        border: 1px solid #ddd799;
      }
      &.question-ignore {
        //display: none;
        transition: 0.2s;
        background-color: transparent;
        color: #ddd;
        border: 1px solid #eee;
      }
    }
  }
}

.options-form {
  > form {
    max-width: 600px; 
    
    p {
      text-align: left;
    }

    .options-input {
      font-size: 1.1em;
      padding: .5em;
      margin: 4px 0 0;

      > label {
        display: block;
        float: left;
      }
      > input {
        display: block;
        width: 120px;
        margin-left: 150px;
        font-size: 1.1em;
      }
      .options-error {
        display: none;
      }
      &.options-errors {
        background-color: #fee;
        border: 1px solid #900;

        .option-error {
          display: block;
          font-size: .9em;
          font-weight: bold;
          color: #900;
        }
      }
    }
  }
}
